@import "styles/variaveis";
@import "styles/breakpoints";



.cardapio {
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

// Letra e comercial aponta para o header, ficando com a sintaxe entendível como header__text. O mesmo vale para cardápio
// Quando chegar a 400px o texto quebra e termina a frase na linha de baixo